flash.hex
out.fst
out.fst.hier
.sconsign.dblite
hardware.asc
hardware.json
*/#*
obj_dir
coredump.hex
OLD
simulate/Vj1a
build/*
obj_dir/*
#*
OLD/*
build
*~
#.
*.bin
./simulate/versions/*
./fpga/versions/*
included.fs
versions
out.vcd
ex1